@page "/"
@using Microsoft.AspNetCore.Mvc
@using Models
@using Services
@inject IHttpClientFactory HttpClientFactory
@rendermode InteractiveServer

@if (Motorbikes is null)
{
    <p> Loading Motorbikes Data: </p>
}
else
{
    @foreach (var bike in Motorbikes)
    {
        <p>@bike.Model</p>
    }
}

@code {
    [BindProperty] private IEnumerable<Motorbike> Motorbikes { get; set; }
    protected override async Task OnInitializedAsync()
    {
        try
        {
            Motorbikes = await RequestService.GetMotorbikesRequest(HttpClientFactory);
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }
}
